.image-sty{
    height: '300px';
     background: '#f4f4f4'
}

.safety-module-list{
    padding-left: '20px'
}

.safety-module-list li{
    margin-bottom: '15px';
     line-height: '1.6';
}

.space-button {
    display: flex;
    
}

.consult-button{
    display: inline-block;
    padding: 8px 20px 8px 20px;
    background-color:#0b6a21;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 12px;
}