 .ayur-ban-slide {
   position: relative;
   overflow: hidden;
 }

 .ayur-ban-slide img {
   width: 100%;
   height: auto;
   display: block;
 }

 .ayur-ban-title {

   left: 0;
   right: 0;
   text-align: center;
   color: #fff !important;
   font-size: 18px;
   font-weight: bold;
   text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
   margin: 0;
   padding: 0 10px;
 }

 .ayur-ban-desc {

   left: 0;
   right: 0;
   text-align: center;
   color: #fff;
   font-size: 1.2rem;
   text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
   margin: 0;
   padding: 0 15px;
 }