.signature-image{
max-height: '100px';
border: '1px solid #ccc';
 padding: '5px'; 
display: 'block'
}

.logo-trilok{
max-height: 150px;
}

@media print {
.no-print {
display: none !important;
}
.modal-dialog {
max-width: 100%;
margin: 0;
padding: 0;
}
.modal-content {
border: none;
box-shadow: none;
}
.modal-header {
display: none;
}
.modal-body {
padding: 20px;
}
}
