 .video-modal-dialog {
   max-width: 90vw;
   width: 90vw;
   height: 80vh;
 }

 .video-modal-content {
   height: 100%;
 }

 .video-container {
   position: relative;
   width: 100%;
   height: 70vh;
   overflow: hidden;
 }

 .video-iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
 }

 .video-thumbnail {
   width: '100%';
   cursor: 'pointer'
 }

 .video-play-icon {
   cursor: 'pointer'
 }

 .video-controlss {
   position: 'absolute';
   top: 0;
   left: 0;
   width: '100%';
   height: '100%';
 }