@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@font-face {
  font-family: 'Poppins', sans-serif;
}



body {


  font-family: 'Poppins', sans-serif;


}

/* svg {
      fill: #0d77cb;
    } */
:root {
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
}

:root {

  --gov-primary: linear-gradient(to right, #13539d 0%, #1d71ce 100%);
  --gov-white: #ffffff;
  --gov-blue-dark: #152036;
  --gov-blue-dark: #1A202C;
  --gov-bg-green: #278557;
  --gov-search-border: #CBCBCB;
  --gov-black: #000000;
  --gov-gray: #4A5568;
  --gov-br-dark-bg: #00553c;
  --gov-gradient: transparent linear-gradient(180deg, #1973D8 0%, #0B488F 100%);

  --gov-org: #ffaa18;

  /* custom padding abr margin*/
  --gov-space-0: 0px;
  --gov-space-25: 1px;
  --gov-space-50: 2px;
  --gov-space-100: 4px;
  --gov-space-175: 5px;
  --gov-space-150: 6px;
  --gov-space-200: 8px;
  --gov-space-250: 10px;
  --gov-space-300: 12px;
  --gov-space-350: 14px;
  --gov-space-400: 16px;
  --gov-space-450: 18px;
  --gov-space-500: 20px;
  --gov-space-550: 22px;
  --gov-space-600: 24px;
  --gov-space-650: 25px;
  --gov-space-700: 28px;
  --gov-space-750: 30px;
  --gov-space-800: 32px;
  --gov-space-900: 36px;
  --gov-space-950: 36px;
  --gov-space-1000: 40px;
  --gov-space-1100: 44px;
  --gov-space-1200: 48px;
}




a{
    text-decoration: none !important;
}
.about-us {
  margin-top: 80px;
  padding: 40px;
  background-color: #ffffff; 
  border-radius: 16px;
  box-shadow: 
    0 10px 30px rgba(0, 0, 0, 0.08),
    0 4px 10px rgba(0, 0, 0, 0.04);

  position: relative;
  z-index: 2;
}


@media only screen and (max-width: 568px) {
  .br-login {
    margin: var(--gov-space-200) var(--gov-space-0) var(--gov-space-0) var(--gov-space-0) !important;
  }
/* .ayur-menu-wrapper {
  margin-top: 100px !important;
} */
 .ayur-achieve-box{
padding: 0px !important;
 }
 .ayur-nav-menu {
    top: 0px !important;

 }
 .ayur-nav-menu{
    padding-top: 0px !important;
 }

}